html,
body {
    height: 100%;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}


.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.body-raw .modal-backdrop {
    background-color: #fff;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    min-height: 60px;
    padding-top: 20px;
}

.footer .social-buttons {
    text-align: center;
    font-size: 28px;
}

.footer .social-buttons i {
    vertical-align: top;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
}

.footer .social-buttons i:hover {
    opacity: 1;
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.btn-bottom-padding {
    margin-bottom: 20px;
}


.vertical-align {
    height: 100%;
    width: 100%;
    display: table;
}

.vertical-align .vertical-align-inner {
    display: table-cell;
    vertical-align: middle;
}

.flot-chart {
    height: 200px;
}

#flot-tooltip {
    position: absolute;
    display: none;
    border: 1px solid #fdd;
    padding: 2px;
    background-color: #fee;
    opacity: 0.80;
    border-radius: 4px;
}


/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


.color-block {
    display: inline-block;
    height: 20px;
    width: 20px;

    border-radius: 4px;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.homepage-background {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    overflow: hidden;
    z-index: -1;
}

.homepage-background .content-box {
    border: none;
    padding: 0px;
    margin: 0px;
}



.pagination {
    width: 100%;
    text-align: center;
}

.pagination > li {
    display: inline-block;
    margin-right: -4px;
}


.list-group .list-group-indented {
    padding: 0px;
    border-top: none;
    border-bottom: none;
}

.list-group .list-group-indented .list-group-item {
    border-radius: 0px;
    border-left: none;
    border-right: none;
}

span.list-group-item {
    color: #666;
}

.list-group .list-group-indented > .list-group-item:not(.list-group-indented) { padding-left: 30px; }
.list-group .list-group-indented > .list-group-indented > .list-group-item:not(.list-group-indented) { padding-left: 60px; }
.list-group .list-group-indented > .list-group-indented > .list-group-indented > .list-group-item:not(.list-group-indented) { padding-left: 90px; }


.wysihtml5-sandbox {
    resize: vertical;
}

.absolute-strecher {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.input-group-addon a[class~="glyphicon"]:hover {
    text-decoration: none;
    cursor: pointer;
}

a.form-control.disabled {
    pointer-events: none;
}

a.form-control:not(.disabled):hover {
    text-decoration: none;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

iframe.full {
    display: block;
    width: 100%;
    height: 100%;
}

body > .modal-scrollable {
    position: fixed;
}

.modal .modal-header {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
}

.modal-dialog.modal-iframe .modal-body {
    padding: 0px;
    padding-bottom: 6px;
}

.modal-dialog.modal-full {
  width: 80%;
  height: 80%;
  max-width: 1170px;
}

.modal-dialog.modal-full .modal-dialog.modal-full {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.modal-dialog.modal-full .modal-content {
  height: auto;
  min-height: 100%;
}

.modal-dialog.modal-full .modal-body {
    position: absolute;

    top: 51px;
    left: 0px;
    right: 0px;
    bottom: 40px;
}

.modal-dialog.modal-pjax .modal-body div[data-pjax-container] {
    overflow-x: auto;
    height: 100%;
    padding-right: 15px;
}



/* table selector */
table.table-select > tbody > tr:hover {
    background-color: #dcedc8;
    cursor: pointer;
}

table.table-select > tbody > tr:hover > td:not(:last-child):not(:first-child){
    border-left: solid 1px #dcedc8;
    border-right: solid 1px #dcedc8;
}

table.table-select > tbody > tr:hover > td:last-child {
    border-left: solid 1px #dcedc8;
}

table.table-select > tbody > tr:hover > td:first-child {
    border-right: solid 1px #dcedc8;
}


table.table-select > tbody > tr.selected {
    background-color: #9ccc65;
}

table.table-select > tbody > tr.selected > td:not(:last-child):not(:first-child){
    border-left: solid 1px #9ccc65;
    border-right: solid 1px #9ccc65;
}

table.table-select > tbody > tr.selected > td:last-child {
    border-left: solid 1px #9ccc65;
}

table.table-select > tbody > tr.selected > td:first-child {
    border-right: solid 1px #9ccc65;
}




/* form-control */
.input-group-addon.input-group-addons {
    border-left: 0;
}

.input-group a.form-control[href=""] ~ .input-group-addon.input-group-addons {
    display: none;
}

/* content box */
.content-box {
    border: 1px solid #ddd;
    border-radius: 4px;
    
    position: relative;
    padding: 15px;
    margin-bottom: 15px;
}

.content-box .content-box {
    padding: 0px;
    margin-bottom: 0px;
    border: none;
}


/* tab */
.tab-pane {
    padding-top: 10px;
}

.tabbed-panel > .panel-body > .nav.nav-tabs {
    display: none;
}

/* strength check */
.popover-strength-check {
    min-width: 200px;
}

/* toggler extension (bootstrap like) */

.toggler {
    position: relative;
    display: inline-block;
    
    -webkit-transition: opacity ease-in-out .3s;
    transition: opacity ease-in-out .3s;
    
    /*overflow: hidden;
    border-radius: 4px;
    border: 1px solid;
    border-color: #ccc;*/
    
    /*
    without js we can not make the div focused...
    
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    */
    
    /* belongs to the class large
    min-width: 120px;
     */
    /* belongs to the class 
    background: #428bca;*/
}


.toggler .toggler-background {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid;
    border-color: #ccc;
    
    pointer-events: none;
    
    z-index: 0px;
    
    /*default color*/
    background: #428bca;
    -webkit-transition: background ease-in-out .3s;
    transition: background ease-in-out .3s;
    
}

/* without js we can not make the div focused... */
.toggler input[type="checkbox"]:focus ~ .toggler-background,
.toggler input[type="checkbox"]:hover ~ .toggler-background {
    box-shadow: 0 0 8px rgba(102,175,233,.6);
}

.toggler .toggler-item {
    padding: 2px 8px;
    color: white;
    text-align: center;
    transition: background-color ease .3s;
    border-radius: 4px 0px 0px 4px;
    font-size: 85%;
    line-height: 1;
}

.toggler .toggler-item:last-child {
    border-radius: 0px 4px 4px 0px;
}

.toggler .toggler-separator {
    cursor: pointer;
    
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    
    margin: 0px;
    padding: 0px;
    
    background: #FFF;
    
    border: 1px solid #ccc;
    
    border-radius: 4px;
    
    -webkit-transition: left ease .3s;
    transition: left ease .3s;
    
    z-index: 3;
}

.toggler input[type="checkbox"] {
    cursor: pointer;
    
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    
    margin: 0px;
    padding: 0px;
    opacity: 0;
    z-index: 4;
}

.toggler input[type="checkbox"]:checked + .toggler-separator {
    left: 0%;
}



.toggler.disabled {
    opacity: 0.5;
    pointer-events: none;
}


.toggler.toggler-style-yes-no input[type="checkbox"] ~ .toggler-background {
    background: red;
}

.toggler.toggler-style-yes-no input[type="checkbox"]:checked ~ .toggler-background {
    background: green;
}

.form-group .toggler-middle-pos {
    height: 34px;
}

.form-group .toggler-middle-pos .portlet-content {
    margin-top: 8px;
}






/* navbar logo and text */
.navbar-inverse {
    border: none !important;
}

.navbar .navbar-brand .brand-logo {
    margin-top: -10px;
    height: 40px;
    margin-right: 15px;
}

.navbar .navbar-brand .brand-logo img {
    height: 100%;
    opacity: 0.7;
}


.navbar .navbar-brand:hover .brand-logo img {
    opacity: 1;
}


/* file browser */
.file-browser .upload-area {
    border: 2px dashed #ddd;
    height: 110px;
    border-radius: 6px;

    background-image: url('../images/file-drag-drop.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 10px;

    position: relative;
}

.file-browser .upload-area .form-group {
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.file-browser .upload-area .form-group input[type="file"] {
    display: inline-block;
}

.file-browser .element {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.file-browser .element.disabled .preview-container,
.file-browser .element.disabled .name {
    opacity: 0.5;
}

.file-browser .element:not(.disabled):hover,
.file-browser .element.active {
    border-color: #337ab7;
}

.file-browser .element.disabled:hover .preview-container,
.file-browser .element.disabled:hover .name {
    opacity: 1;
}

.file-browser .element .name {
    text-align: center;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    position: relative;
    top: 8px;
}

.file-browser .element .preview-container {
    height: 80px;
    width: 100%;
}

.file-browser .element img {
    width: 100%;
    height: 100%;
}

.file-browser .element .preview-container i {
    font-size: 60px;
    text-align: center;
    display: block;
}


.file-browser .element .buttons,
.file-browser .element .permissions {
    position: absolute;
    top: 10px;
    width: 20px;
    font-size: 18px;
    text-align: center;
}

.file-browser .element .buttons {
    visibility: hidden;
    left: 4px;
}

.file-browser .element .permissions {
    right: 4px;
}

.file-browser .element .buttons > a {
    margin: 1px;
}

.file-browser .element:hover .buttons {
    visibility: visible;
}




/* browser popup */
.wrap-raw .file-browser {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-iframe .form-group.buttons,
.modal-pjax .form-group.buttons {
    position: absolute;
    bottom: -40px;
    right: 10px;
}

.wrap-raw .file-browser .file-browser-elements {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 125px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* bootstrap table fix */
.table {
    table-layout: fixed;
}

.table td,
.table th {
    text-overflow: ellipsis;
    overflow: hidden;
}

.table .column-width-1 {
    width: 22px;
}

.table .column-width-2 {
    width: 50px;
}

.table .column-width-3 {
    width: 68px;
}

.table .column-width-4 {
    width: 90px;
}

.table .column-width-5 {
    width: 112px;
}





.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: auto;
}

/* position-overview */

table.position-overview {
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
    margin-left: -10px;
    margin-right: -10px;
}

table.position-overview .position-overview {
    margin-left: 0px;
    margin-right: 0px;
}

table.position-overview .inner-table {
    padding: 0px;
}

table.position-overview td {
    text-align: center;
    padding: 10px;
}

table.position-overview .framed {
    color: white;
    background: lightblue;
    border: 1px dashed darkblue;
}

table.position-overview .framed:hover {
    text-decoration: underline;
}

table.position-overview .framed.main-frame {
    background: lightCoral;
    border: 1px dashed darkred;
    height: 200px;
}

table.position-overview .framed.inner-table {
    background: AliceBlue;
    border: 1px dashed Aqua;
}

table.position-overview .framed.grey {
    background: lightgrey;
    border: 1px dashed darkgrey;
}